.btn {
  color: var(--main-text-color);
  background-color: var(--main-brand-color);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-brand-color);
}

.hidden-xs {
  display: none;
}

.form__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.form__label {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 400;
}
.form__input {
  padding: 16px 12px;
  border-radius: 5px;
  background-color: #333333;
  color: rgb(255, 255, 255);
  border: none;
}
input::placeholder,
textarea::placeholder {
  color: rgb(168, 168, 168);
}
.btn.btn--secondary {
  background-color: transparent;
  border-color: var(--main-text-color);
}
.form__element--checkbox {
  flex-direction: row;
  align-items: center;
}
.form__element--checkbox input[type="checkbox"] {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .hidden-xs {
    display: block;
  }
}
